body {
    font-family: Roboto;
}

/* section one */
.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2937;
    gap: 32px;
    padding-bottom: 32px;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    margin-left: auto;
}

.super {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 32px;
    gap: 32px;
}

.one {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 8px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background: #3992f6;
    color: #e5e7eb;
    border-radius: 8px;
    max-width: fit-content;
    padding: 8px 16px;
}

/* section two */
.section-two {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info {
    display: flex;
    text-align: center;
    gap: 32px;
}

.dog {
    height: auto;
    max-width: 200px;
}

.info-text {
    max-width: 200px;
    color: #1f2937;
}

/* Section three */

img {
    height: auto;
    max-width: 350px;
}

ul {
    list-style-type: none;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}